<div fxLayout="column">

  <div fxLayout="row" style="background-color: cadetblue; padding-left: 10px; padding: 5px;" class="image" fxFlex>

    <img src="../../assets/car.png" width="8%" alt="" fxFlex='12'>

    <h1>Shri Tours and Travels</h1>
    <div fxLayoutAlign="end center" style="margin-left: 80%;" fxLayoutGap="10px">
      <i class="fa fa-phone" aria-hidden="true" fxLayoutAlign="space-around center"></i>
      <p>+919036985344</p>
    </div>
  </div>


  <div class="comingSoon">
    <img src="../../assets/comingsoon.jpg" alt="" width="50%">
  </div>

</div>
